.tictactoesquare {
    -fx-background-color: lightgray;
    -fx-border-color: black;
	-fx-pref-width: 80px;
	-fx-pref-height: 80px;
	-fx-alignment: center
}

.hover-valid {
	-fx-background-color: lightgreen;
}

.hover-invalid {
	-fx-background-color: red;
}

#labelX, #labelO {
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-border-color: #CC3333;
	-fx-border-width: 1;
	-fx-padding: 2 4 2 4;
	-fx-text-fill: white; 
}

#gameOverLabel {
	-fx-font-size: 1.5em;
}
